[submodule "vendor/libcsp"]
	path = vendor/libcsp
	url = https://github.com/libcsp/libcsp.git
	branch = develop
[submodule "vendor/libcsp-rust"]
	path = vendor/libcsp-rust
	url = https://egit.irs.uni-stuttgart.de/rust/libcsp-rust.git
	branch = main
